---
---
html, body {
	/*position: fixed;*/
}
#main {
	/*float: left;*/
	/*width: 80%;*/
	padding-left: 20px;
	padding-right: 300px;
}
nav {
	position: fixed;
	right: 10px;
	top: 10px;
	/*float: right;*/
	width: 200px;
	border: 1px solid black;
	padding: 15px;
	> ul,
	> ul ul {
		padding: 0px;
		text-align: center;
		> li,
		ul > li {
			list-style: none;
			padding-top: 3px;
			padding-bottom: 2px;
		}
		ul > li {
			border-top: 1px solid;
		}
		ul > li:first-child {
			border: none;
		}
	}
}
.js {
	nav > ul {
		> li {
			cursor: pointer;
		}
		> li.close span:after {
			content: " +";
		}
		> li.open span:after {
			content: " -";
		}
		ul {
			display: none;
		}
	}
}
